@model ViewModel
<h1>List view</h1>
<form  asp-action="CreateTodo"   method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <lavel for="NameTodo">Имя задания</lavel>
        <input name="NameTodo" />
    </div>
    <div>
        <label>Дата выполнения</label>
        <input  type="datetime-local" name="DeadLine" />
    </div>
    <div>
        <label>Категория</label>
        <select name="CategoryId">
                <option  value="0">None</option>
            @foreach (var category in Model.categoryViewModels)
            {
                <option  value="@category.IdCategory"> @category.NameCategory</option>
            }
        </select>
    </div>
    <button type="submit">Создать</button>
</form>
<br>
<table >
    <tr>
        <th>NameTask</th>
        <th>DeadLine</th>
        <th>DoneTask</th>
        <th>NameCategory</th>
        <th>Actions</th>
    </tr>
    @foreach (var task in @Model.Tasks)
    {
        @if(task.TaskCompleted){
        <tr>
            <td>@task.NameTodo</td>
            <td>@task.DeadLine</td>
            
           <td>    
              @Html.Encode("Done");
            <a asp-action="ChangeStatusDone" asp-route-message="@ViewContext.HttpContext.Request.Path" asp-route-id="@task.Id"><button>Change</button></a>
             </td>
            <td>@task.NameCategory</td>
            <td><a asp-action="EditTask" asp-route-id="@task.Id">Edit</a>|<a asp-action="DeleteTask" asp-route-id="@task.Id">Delete</a></td>
           </tr>
           }
    }
</table>
<table>
    
    <tr>
        <th>NameTask</th>
        <th>DeadLine</th>
        <th>DoneTask</th>
        <th>NameCategory</th>
        <th>Actions</th>
    </tr>
    @foreach (var task in @Model.Tasks)
    {
        @if(!task.TaskCompleted){
        <tr>
            <td>@task.NameTodo</td>
            <td>@task.DeadLine</td>
            
           <td>
              @Html.Encode("Undone");
            <a asp-action="ChangeStatusDone" asp-route-message="@ViewContext.HttpContext.Request.Path" asp-route-id="@task.Id"><button>Change</button></a>
             </td>
            <td>@task.NameCategory</td>
            <td><a asp-action="EditTask" asp-route-id="@task.Id">Edit</a>|<a asp-action="DeleteTask" asp-route-id="@task.Id">Delete</a></td>
           </tr>
           }
    }
</table>
